<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    {{>headinit}}
  </head>
  <body>
    {{>navbar}}
    <div class="container">
      <h1 class="container">{{name}}</h1>
      <hr>
      <div class="container">
        <img src="{{img}}" alt="A picture of {{name}}" style="max-height: 600px; height: 100%; width: auto;">
      </div>
      <hr>
      <div class="container">
        <p><strong>Location: </strong>{{location}}</p>
      </div>
      <div class="container">
        <p><strong>Condition: </strong>{{condition}}</p>
      </div>
      <div class="container">
        <p><strong>Category: </strong>{{category}}</p>
      </div>
      <div class="container">
        <p><strong>Description:</strong></p>
        <p>{{description}}</p>
      </div>
      <div class="container card">
        {{#if human}}
          <p class="container"><strong>Phone: </strong>{{phone}}</p> <!--style="background: grey; float: right; padding: 5px; margin-top: 20px"-->
          <p class="container"><strong>Email: </strong>{{email}}</p>
        {{else}}
          <p class="container"><strong>Contact info: </strong><a type="button" data-toggle="modal" data-target="#exampleModal"><u style="color: blue;">Click to show</u></a></p>
        {{/if}}
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Solve the ReCaptcha to get the contact</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form method="post" action="/getcontact">
          <div class="modal-body">
              <div class="g-recaptcha" data-sitekey="6Lcdi6IUAAAAAIb75r4wXBG9BpOOa1WnhGocDsQ0"></div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Show Contact</button>
          </div>
        </form>
        </div>
      </div>
    </div>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>
    <script>
    $(document).ready(function() {
      $('#comment_form').submit(function() {
        $(this).ajaxSubmit({
          error: function(xhr) {
            status('Error: ' + xhr.status);
          },
         success: function(response) {
          console.log(response);
         }
        });
        //Very important line, it disable the page refresh.
        return false;
      });
    });
    </script>
    {{>footinit}}
  </body>
</html>
