<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    {{>headinit}}
</head>
<body>
    {{>navbar}}
    <h1>{{name}} - ${{price}}</h1>
    <img src="{{img}}" alt="A picture of {{name}}" style="height: auto; width: auto; max-width: 600px; max-height: 600px;">
    <p>Location: <b>{{location}}</b></p>
    <p>Condition: <b>{{condition}}</b></p>
    <p>Phone: <b>{{phone}}</b></p>
    {{>footinit}}
</body>
</html>
